.rbc-timeslot-group {
    min-height: calc((100vh - 60px) / 10);
}

.rbc-allday-cell {
    display: none;
}

.rbc-event {
    container-type: size;
}

@container (max-height: 60px) {
    .rbc-event .rbc-event-label {
        display: none;
    }
}
